{% extends 'news/base.html' %}

<!-- Block content for post detail page -->
{% block content %}

{% load crispy_forms_tags %}

<!-- post details -->
<div class="head">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 head-text">
                <!-- Post title -->
                <h2 class="post-title">{{ post.title }}</h2>
                <!-- Post category & author | post created date -->
                <h4 class="post-subtitle">{{ post.category}}</h4>
                <p class="post-subtitle">{{ post.author }} | {{ post.created_on }}</p>
            </div>
            <div class="d-none d-md-block col-md-6 head-image">
                <!-- Featured image URL in the src attribute -->
                {% if "placeholder" in post.featured_image.url %}
                <img src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg" alt="World News" class="width">
                {% else %}
                <img src=" {{ post.featured_image.url }}" alt="World News" class="width">
                {% endif %}
            </div>
        </div>
    </div>
</div>

<!-- Post content -->
<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-body">
                <!-- Use of | safe filter inside the template tags -->
                <p class="card-text ">
                    {{ post.content | safe }}
                </p>

                <!-- Post like, unlike & comment -->
                <div class="row">

                    <div class="col-1">
                        <strong>
                            {% if user.is_authenticated %}
                            <form class="d-inline" action="{% url 'like_post' post.slug %}" method="POST">
                                {% csrf_token %}
                                {% if liked %}
                                <button type="submit" name="post_id" value="{{post.slug}}" class="btn-like">
                                    <i class="fa-solid fa-thumbs-up"></i>
                                </button>
                                {% else %}
                                <button type="submit" name="post_id" value="{{post.slug}}" class="btn-like">
                                    <i class="fa-regular fa-thumbs-up"></i>
                                </button>
                                {% endif %}
                            </form>
                            {% else %}
                            <span class="text-secondary"><i class="fa-regular fa-thumbs-up"></i></span>
                            {% endif %}
                            
                            <!-- Number of likes -->
                            <span class="text-secondary">{{ post.number_of_likes }}</span>
                        </strong>
                    </div>
                    
                    <!-- Number of comments -->
                    <div class="col-1">
                        {% with comments.count as total_comments %}
                        <strong class="text-secondary"><i class="far fa-comments"></i>
                            {{ total_comments }}
                        </strong>
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 card mb-4  mt-3 ">
            <h3>Comments:</h3>
            <div class="card-body">
                <!-- A for loop to iterate through each comment in comments -->
                {% for comment in comments %}
                <div class="comments" style="padding: 15px;">
                    <p class="font-weight-bold">
                        <!-- Commenter's name -->
                        {{ comment.name }}
                        <span class=" text-muted font-weight-normal">
                            <!-- Comment's created date -->
                            {{ comment.created_on }}
                        </span> wrote:
                    </p>
                    <!-- comment of the Comment -->
                    {{ comment.comment | linebreaks }}
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-6 card mb-4  mt-3">
            <div class="card-body">
                <!-- Messages after leaving comment on the news post -->
                {% if commented %}
                <div id="message" class="alert alert-success" role="alert">
                    Your comment is submitted successfully and awaiting approval
                </div>
                {% else %}
                
                <!-- comment textarea -->
                {% if user.is_authenticated %}
                <h3>Leave a comment:</h3>
                <p>Posted by: {{ user.username }}</p>
                <form method="post" style="margin-top: 1.3em;">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-signup btn-lg">Submit</button>
                </form>
                {% endif %}
                {% endif %}  
            </div>
        </div>
    </div>
</div>

{% endblock content %}